.decryption-col {
    border-left: 2px solid gray;
  }
  
  .vl {
    background-color: black;
    width: 2px;
    height: 150vh;
    margin: 0 auto;
  }
  
  @media only screen and (max-width: 768px) {
    .decryption-col {
      border-left: none;
    }
  
    .encryption-col {
      margin-left: 0;
    }
  
    .vl {
      display: none;
    }
  
  }
  